A continuación se desarrollará el Data Wrangling correspondiente a los datos elegidos pra el proyecto final.

En primer lugar importamos el data set y se visualizan los primero 5 valores para tener una idea de como está compuesto dicho dataset:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#A continuación se crea la variable que guardará la dirección del dataset. 
#La misma se encuentra almacenada en Github

url_Global_fire = 'https://raw.githubusercontent.com/francolange00/CoderHouse_Data_Science/main/Leo_Satellite_Global%20_Fire-Dataset.csv'

#Se crea el dataframe para el dataset:
df_Global_fire = pd.read_csv(url_Global_fire, index_col=0).reset_index()

df_Global_fire.head(5)

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,37.7296,34.8998,303.3,1.9,1.3,2021-01-01,903,Terra,MODIS,56,6.03,279.3,20.1,D,0
1,37.7343,34.8774,306.7,1.9,1.3,2021-01-01,903,Terra,MODIS,64,6.03,276.7,24.9,D,0
2,37.8685,29.0728,300.5,1.0,1.0,2021-01-01,903,Terra,MODIS,38,6.03,286.0,5.0,D,0
3,37.7362,34.8945,310.3,1.9,1.3,2021-01-01,903,Terra,MODIS,70,6.03,278.8,28.8,D,0
4,37.1456,40.4709,308.9,1.2,1.1,2021-01-01,1041,Aqua,MODIS,54,6.03,291.1,9.0,D,0

A continuación obsevamos si existe valores nulos o duplicados:

In [2]:
df_Global_fire.isnull().sum()  #Valores nulos

latitude      0
longitude     0
brightness    0
scan          0
track         0
acq_date      0
acq_time      0
satellite     0
instrument    0
confidence    0
version       0
bright_t31    0
frp           0
daynight      0
type          0
dtype: int64

In [3]:
df_Global_fire.duplicated().sum() #Valores duplicados

0

Se pudo comprobar que el dataset no cuenta con elementos nulos ni duplicados

Luego se observó que existian 2 columnas('Version' y 'instrument') que solo contenían 1 valor para todos los registros:

In [4]:
df_Global_fire['version'].nunique()

1

In [5]:
df_Global_fire['instrument'].nunique()

1

Es por esto que se decidió eliminar estas 2 columnas del dataset:

In [6]:
df_Global_fire = df_Global_fire.drop(['version','instrument'], axis=1)  #Se eliminan las columnas innecesarias

In [7]:
df_Global_fire.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,confidence,bright_t31,frp,daynight,type
0,37.7296,34.8998,303.3,1.9,1.3,2021-01-01,903,Terra,56,279.3,20.1,D,0
1,37.7343,34.8774,306.7,1.9,1.3,2021-01-01,903,Terra,64,276.7,24.9,D,0
2,37.8685,29.0728,300.5,1.0,1.0,2021-01-01,903,Terra,38,286.0,5.0,D,0
3,37.7362,34.8945,310.3,1.9,1.3,2021-01-01,903,Terra,70,278.8,28.8,D,0
4,37.1456,40.4709,308.9,1.2,1.1,2021-01-01,1041,Aqua,54,291.1,9.0,D,0

Por último, tanto la columna "brigthness" com la columna "bright_t31" están en unidades de grados kelvin, por lo que se decide llevarlas a grados celsius para facilitar su comprensión:

In [8]:
def kelvin_to_celsius(temp):
    return temp-273.15


df_Global_fire['brightness'] = df_Global_fire['brightness'].apply(kelvin_to_celsius)
df_Global_fire['bright_t31'] = df_Global_fire['bright_t31'].apply(kelvin_to_celsius)

In [9]:
df_Global_fire.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,confidence,bright_t31,frp,daynight,type
0,37.7296,34.8998,30.15,1.9,1.3,2021-01-01,903,Terra,56,6.15,20.1,D,0
1,37.7343,34.8774,33.55,1.9,1.3,2021-01-01,903,Terra,64,3.55,24.9,D,0
2,37.8685,29.0728,27.35,1.0,1.0,2021-01-01,903,Terra,38,12.85,5.0,D,0
3,37.7362,34.8945,37.15,1.9,1.3,2021-01-01,903,Terra,70,5.65,28.8,D,0
4,37.1456,40.4709,35.75,1.2,1.1,2021-01-01,1041,Aqua,54,17.95,9.0,D,0